/spinenv
/.vscode
/mywebsite/faculty/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 
media
*.log

*.pot

*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/
./mywebsite/db.sqlite3

*.sqlite3
mywebsite/faculty/__pycache__/*
*.pyc
mywebsite/mywebsite/__pycache__/*
