{% extends "faculty/index.html" %}
{% include 'includes/messages.html' %}

{% load static %}
<title>{% block title%}Reset Here{% endblock %}</title>
{% load bulma_tags %}
{% block content %}
<br><br>
<div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
        <article class="tile is-child">
            <div class="content">
                <figure class="image is-4by3">
                    <img src="{% static 'images/Loginsvg.svg'%}">
                </figure>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <p class="title mt-6">Reset Password</p>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form action="" method="post" class="form-group">
                {% csrf_token %}
                {{form |bulma}}
                <p>Don't have an account? Create one <a href="{% url 'faculty:register' %}">here</a></p><br>
                <button type="submit" class="button is-link is-outlined " id="btn"><strong><i class="fas fa-sign-in-alt"></i>  Request Password Reset</strong></button>
            </form>
            </p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#btn').click(function () {
            $('#btn').addClass(' is-loading')
        });
        
    });
</script>
{% endblock %}
