{% extends "faculty/index.html" %}
{% include 'includes/messages.html' %}

{% load static %}
<title>{% block title%}Reset Here{% endblock %}</title>
{% load bulma_tags %}
{% block content %}
<br><br>
{% if validlink %}
<div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
        <article class="tile is-child">
            <div class="content">
                <figure class="image is-4by3">
                    <img src="{% static 'images/Loginsvg.svg'%}">
                </figure>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child">
            <p class="title mt-6">Enter new password</p>
            <p>
                Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <p>
            <form action="" method="post" class="form-group">
                {% csrf_token %}
                {{form |bulma}}
                <p>Don't have an account? Create one <a href="{% url 'faculty:register' %}">here</a></p><br>
                <button type="submit" class="button is-danger is-outlined "><strong><i class="fas fa-sign-in-alt"></i>
                        Change my password</strong></button>
            </form>
            </p>
        </div>
    </div>
</div>
{% else %}
<p style="color:red;">Invalid Token</p>
<p>
    <a href="{% url 'faculty:password_reset' %}">Request a new password reset token</a>
</p>
{% endif %}
{% endblock %}