<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <style>
        .notification {
            position: absolute;
            bottom: 110px;
            right: 10px;
            z-index: 5;
            width: 350px;
        }
    </style>
</head>

<body>
    {% include 'studentRegistration/navbar.html' %}
    {% include 'studentRegistration/messages.html' %}
    {% block content %}
    HELLO HOME
    {% endblock %}
</body>

</html>