<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Courses</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js'></script>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
        mdl-layout--fixed-header">
        <!-- {% include 'includes/studentNavbar.html' %} -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button" style="border:none;">
                                <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1"><img
                                        src="{% static 'images/notification.svg' %}" alt="">
                                </div>
                            </a>
                            <a class="button is-light is-primary">
                                <strong> <i class="fa fa-user mr-2" aria-hidden="true"></i> {{user.username}}</strong>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Learners Circle</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'student:courses' %}">Courses</a>
                <a class="mdl-navigation__link" href="{% url 'student:dashboard'%}">Dashboard</a>
                <a class="mdl-navigation__link" href="{% url 'student:showcase'%}">Showcase</a>
                <a class="mdl-navigation__link active" href="{% url 'student:mycourses' %}">My Courses</a>
                <a class="mdl-navigation__link" href="">Leaderboard</a>
                <a class="mdl-navigation__link" href="{% url 'student:competitions' %}">Competition</a>
                <a class="mdl-navigation__link" href="">Premium Courses</a>

            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <p class="title m-5 text-purple">My Courses</p>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet"
                        style=" background-color:#E5E5E5; height:250px; border-radius: 27px;">
                        <p class="title mt-6 ml-5" style="color:#833F1A;"></p>
                    </div>
                </div>
                <section class="section">
            <div class="container is-clipped">
                <div id="slider" class="tile is-ancestor mx-5">
                    {% for i in courses %}
                    <div class="tile is-parent">
                        <article class="tile is-child ">
                            <figure class="image is-4by3">
                                <a href="{{i.get_absolute_url}}">
                                    <img src="{% static 'images/courseImage.svg' %}">
                                </a>
                            </figure>
                            <progress class="progress mb-2 is-primary" value="40" max="100">15%</progress>
                            <p><a class=" is-pulled-right"><img src="{% static 'images/bookmark.svg' %}" alt=""></a></p>
                            <h2 class="is-size-4">{{i.course_name}}</h2>
                            <h3 class="is-size-5">{{i.fname}} {{i.lname}} <span><strong>5.0</strong></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h3>
                        </article>
                    </div>
                    {% endfor %}
                </div>
                </div>
        </section>
                <p class="title ml-5 text-purple">Your Wishlist</p>
                <div class="tile is-ancestor mx-5">
                    <div class="tile is-parent">
                        <article class="tile is-child ">
                            <figure class="image mb-4">
                                <img src="{% static 'images/courseImage.svg' %}">
                            </figure>
                            <p><a class=" is-pulled-right"><img src="{% static 'images/bookmark.svg' %}" alt=""></a></p>
                            <h2 class="is-size-4">Hindi Reading</h2>
                            <h3 class="is-size-5">Aarti Desai <span><strong>5.0</strong></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h3>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child ">
                            <figure class="image mb-4">
                                <img src="{% static 'images/courseImage.svg' %}">
                            </figure>
                            <p><a class=" is-pulled-right"><img src="{% static 'images/bookmark.svg' %}" alt=""></a></p>
                            <h2 class="is-size-4">Hindi Reading</h2>
                            <h3 class="is-size-5">Aarti Desai <span><strong>5.0</strong></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h3>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child ">
                            <figure class="image mb-4">
                                <img src="{% static 'images/courseImage.svg' %}">
                            </figure>
                            <p><a class=" is-pulled-right"><img src="{% static 'images/bookmark.svg' %}" alt=""></a></p>
                            <h2 class="is-size-4">Hindi Reading</h2>
                            <h3 class="is-size-5">Aarti Desai <span><strong>5.0</strong></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </h3>
                        </article>
                    </div>
                </div>
        </main>
    </div>

    <script>
        document.getElementById("currentDate").innerHTML = formatAMPM();

        function formatAMPM() {
            var d = new Date(),
                months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday,', 'Saturday'];
            return days[d.getDay()] + ' ' + months[d.getMonth()] + ' ' + d.getDate() + ' ' + d.getFullYear();
        }
        $('#sidebar-wrapper .sidebar-nav a').on('click', function () {
            $('#sidebar-wrapper .sidebar-nav').find('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
        });
    </script>
    <script>
        bulmaCarousel.attach('#slider', {
            slidesToScroll: 1,
            slidesToShow: 3,
            infinite: true,
        });
    </script>
</body>

</html>